@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	
}
html{
	height: 100%;
	background-color: white;
	font-family: Verdana, Geneva, sans-serif;
}

body{
	margin: 0 auto;
	min-height: 100%;
	min-width: 480px;
	max-width: 100%;
	background-color: white;
}

/* Header Design */

header{
	width: 100%;
	height: 100px;
	display: block;
	background-color: #F0F0F0; 
	border-bottom: 2px solid #3399cc;
}

.insideHeader {
	width: 80%;
	height: 100%;
	display: block;
	margin: 0 auto;
	border-bottom: 2px solid #3399cc;
}

.imageContainer {
	height: 100%;
	float: left;
	width: 30%;
}

.imageContainer img{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

/* Nav Bar Design */

.menuIcon{
	display: none;
}

.navLinks{
	width: auto;
	float: right;
	height: 100%;
}

.navLinks a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;	
}

.navLinks a li:hover{
	color:black;
	-webkit-transform: translateY(-20%);
}

.navLinks a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #3399CC;
	-webkit-transition: -webkit-transform 1s;
}

a {
	color: #3399cc;
}

a:hover{
	color: black;
}

p {
	color: #3399cc;
}

/* Footer Design */


footer{
	width: 100%;
	height: 200px;
	background-color: #3399cc;
	color: white;
	
}

footer p{
	color: white;
	margin: auto;
	text-align: center;
}

.inner_footer{
	margin: auto;
	width: 66.66%;
	padding-top: 50px;
	padding-bottom: 25px;
}

.footer_sections{
	width: 33%;
	margin: auto;
}

.footer_sections li {
	padding: 2px 2px;
}

.footer_sections a{
	color: white;
}

.footer_sections a:hover{
	color: black;
}

.inner_footer th:first-child , .inner_footer th:nth-of-type(2){
	border-right: 2px solid white;
}

.footer_nav_links a{
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding-top: 4px;
	vertical-align: center;	
}

#mobileLinks{
	display: none;
}


/* Moblie and Tablet Styles 0px to 1100px*/

@media only screen and (max-width:1100px) {
	
	#subMenu{
		display: none;
		background-color: #3399cc;
	}
	
	#subMenu::after{
		clear: both;
		content: "";
		display: table;
	}
	
	.navLinks{
		display: none;
	}
	
	#mobileLinks{
		display: block;
		width: 100%;
		margin: 0 auto;	
	}
	
	#mobileLinks li {
		color: white;
	}
	
	
	.navLinks a{
		width: 100%;
		text-align: center;
		margin: 10px auto;
		padding: none;
		color: white;
	}
	
	.menuContainer{
		display: table;
		float: right;
		height: 100%;
		width: 10%;
	}
	
	#menuIcon {
		display: table-cell;
		vertical-align: middle;
		margin: 45% auto;
		height: 100%;
		background-color: #F0F0F0;
	}
	
	.menu-bar{
		width: 50%;
		height: auto;
		margin: 8% auto; 
		border: 2px solid #3399cc;
	}
	
	.imageContainer {
		width: 55%;
	}

	




